[Unit]
Description=Backend FastAPI Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/ubuntu/Testttt
Environment="PATH=/home/ubuntu/Testttt/venv/bin"
ExecStart=/home/ubuntu/venv/bin/gunicorn --workers 3 -k uvicorn.workers.UvicornWorker --bind unix:/home/ubuntu/Testttt/backend.sock -m 007 main:app
Restart=always

[Install]
WantedBy=multi-user.target
