[Unit]
Description=backend-restarting service
PartOf=data.service
After=data.service
After=backend.service

[Service]
User=root
Group=root
ExecStart=/bin/bash /var/www/Testttt/.script/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
